{% extends 'mysite/base.html' %}

{% block content %}
    <div class="well well-lg">
    <h2 class="text-center">Biography</h2>
        <p>
            <strong>Name</strong>: Arapmoi Daniel
        </p>
    <p>
        <strong>Profession</strong>: Computer Scientist
    </p>
    <p>
        <strong>Nationality</strong>: Ugandan
    </p>

    <p>
        <strong>Residence</strong>: Gulu
    </p>

    </div>

    <div class="well well-lg">
            <h2 class="text-center">Skills</h2>
                <p>
                    Programming
                </p>
            <p>
                Networking
            </p>
            <p>
                Hardware maintenance
            </p>

            <p>
                System administration
            </p>

    </div>


{% endblock %}